/* 데스크탑 세팅 */
footer{
  height: 250px;
  font-size: 14px;
  background-color: #313131;
}
.footerTop{
  overflow: hidden;
  margin-top: 40px;
  padding-bottom: 16px;
  border-bottom: 1px solid #888;
  color: #fff;
  line-height: 32px;
}
.footerTop .footerLink{
  float: left;
}
.footerTop .footerLink span{
  display: block;
  float: left;
  margin-right: 10px;
  color: var(--primaryColor);
  font-family: 'NanumSquareEB';
}
.footerTop .footerLink a{
  display: block;
  float: right;
  font-family: 'NanumSquareB';
  font-size: 32px;
}
.footerTop .footerInfor{
  float: right;
}
.footerTop .footerInfor ul{
  display: flex;
  float: left;
}
.footerTop .footerInfor ul li{
  position: relative;
  margin-right: 20px;
}
.footerTop .footerInfor ul li::after{
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  right: -10px;
  width: 0.5px;
  height: 14px;
  background-color: #888;
}
.footerTop .footerInfor address{
  float: right;
}
.footerBtm{
  overflow: hidden;
  margin-top: 15px;
  color: #888;
}
.footerBtm .ban{
  float: left;
}
.footerBtm .copy{
  float: right;
}

/* 모바일 세팅 */
@media screen and (max-width: 768px){
  footer{
    position: relative;
    height: auto;
    margin-bottom: 60px;
    padding: 40px 0;
    font-size: 14px;
  }
  .footerTop{
    margin-top: 0;
    padding-bottom: 16px;
    border-bottom: none;
    line-height: 1.5;
  }
  .footerTop .footerLink{
    position: relative;
    float: none;
  }
  .footerTop .footerLink span{
    float: none;
    margin-right: 0;
  }
  .footerTop .footerLink a{
    display: inline-block;
    float: none;
    font-size: 24px;
  }
  .footerTop .footerLink::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    left: 40%;
    width: 20%;
    height: 0.5px;
    background-color: #888;
  }
  .footerTop .footerInfor{
    position: relative;
    float: none;
    margin-top: 30px;
    line-height: 2;
  }
  .footerTop .footerInfor ul{
    display: block;
    float: none;
  }
  .footerTop .footerInfor ul li{
    margin-right: 0;
  }
  .footerTop .footerInfor ul li::after{
    display: none;
  }
  .footerTop .footerInfor address{
    float: none;
  }
  .footerTop .footerInfor::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    left: 40%;
    width: 20%;
    height: 0.5px;
    background-color: #888;
  }
  .footerBtm{
    margin-top: 15px;
    line-height: 2;
  }
  .footerBtm .ban{
    float: none;
  }
  .footerBtm .copy{
    float: none;
  }
}