/* 데스크탑 세팅 */
/*ALL*/
article{
  scroll-margin-top: 80px;
}

/*VISUAL*/
.visual{
  overflow: hidden;
  height: calc(100vh - 80px);
  background-color: #fff;
  background-image: url(../images/visual_background.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.visual .inner{
  position: relative;
}
.visual .txtBox{
  position: absolute;
  top: calc(50vh - 145px);
  z-index: 888;
  line-height: 1.3;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}
.visual .txtBox p{
  font-size: 28px;
}
.visual .txtBox .quick{
  display: block;
  margin-top: 20px;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--primaryColor);
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-indent: 0;
  line-height: 50px;
  letter-spacing: 0;
}
.visual .imgBox{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.visual .imgBox img.smartphone{
  position: absolute;
  top: 230px;
  left: 47.5%;
  width: 1020px;
  animation-duration: 0.8s;
}

/*INSTA*/
.insta{
  height: 230px;
  background-color: var(--primaryColor);
  color: #fff;
}
.insta .txtBox{
  float: left;
  margin-top: 82.5px;
  width: 71.5%;
  text-align: right;
}
.insta .txtBox p:first-child{
  font-size: 32px;
  line-height: 1.5;
}
.insta .txtBox p:first-child span{
  color: var(--secondaryColor);
  font-family: 'NanumSquareEB';
}
.insta .txtBox p:last-child{
  font-size: 17px;
}
.insta .imgBox{
  position: relative;
  float: right;
  width: 28.5%;
  height: 100%;
  text-align: center;
}
.insta .imgBox .graph{
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 75px);
  width: 140px;
  height: 140px;
}
.insta .imgBox .graph svg{
  position: relative;
  width: 100%;
  height: 100%;
}
.insta .imgBox .graph svg circle{
  width: 100%;
  height: 100%;
  fill: none;
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 10;
  stroke-linecap: round;
  marker-start: 0 0;
  transform: rotateY(180deg) rotateZ(-90deg);
  transform-origin: center;
}
.insta .imgBox .graph svg circle:nth-child(2){
  stroke: #fff;
  stroke-dasharray: 410px;
  stroke-dashoffset: 410px;
}
.insta .imgBox .graph p{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  font-family: 'NanumSquareEB';
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -2px;
  transform: translateY(-50%);
}
.insta .imgBox .graph p span{
  display: inline-block;
  padding-left: 2px;
  font-size: 26px;
}
.insta .imgBox>p{
  margin-top: 187.5px;
  font-family: 'NanumSquareL';
  font-size: 14px;
}

/*SECRET*/
.secret{
  overflow: hidden;
  height: calc(100vh - 310px);
  background-color: #fff;
  text-align: center;
}
.secret .inner{
  margin-top: 110px;
  margin-top: calc((100vh - 310px)/2 - 220px);
  height: auto;
}
.secret .txtBox{
  margin-bottom: 60px;
}
.secret .txtBox p{
  margin-top: 10px;
  font-size: 18px;
}
.secret ul{
  display: flex;
  justify-content: space-between;
}
.secret ul li{
  min-width: 188px;
}
.secret ul li .number{
  margin: 0 auto 25px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--primaryColor);
  color: #fff;
  font-family: 'NanumSquareEB';
  font-size: 18px;
  line-height: 40px;
}
.secret ul li img{
  width: auto;
  height: 165px;
}
.secret ul li .caption{
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.3;
}

/*SERVICE*/
.service{
  text-align: center;
  background-color: #fff;
  background-image: url(../images/service_background.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
.service .serviceIntro{
  overflow: hidden;
  height: 100vh;
}
.service .serviceIntro .txtBox{
  margin-top: 105px;
}
.service .serviceIntro .txtBox p{
  color: #fff;
  font-size: 20px;
}
.service .serviceIntro .txtBox h2{
  color: var(--secondaryColor);
  letter-spacing: 3px;
  line-height: 1.5;
}
.service .serviceIntro .imgBox{
  position: relative;
  margin: 35px auto 0;
  width: 685px;
}
.service .serviceIntro .imgBox .phone{
  position: absolute;
  left: 0;
  top: 30px;
  width: 685px;
  animation-duration: 0.8s;
  animation-delay: 0;
}
.service .serviceIntro .imgBox .graph1{
  position: absolute;
  left: 42.5%;
  top: 0;
  width: 215px;
  animation-duration: 0.8s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}
.service .serviceIntro .imgBox .graph2{
  position: absolute;
  left: 52.5%;
  top: 45px;
  width: 322px;
  animation-duration: 0.8s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}
.service .serviceSummary{
  height: calc(100vh - 80px);
}
.service .serviceSummary h3,
.service .serviceExplan h3{
  margin: 0 auto;
  width: 310px;
  height: 58px;
  border-radius: 29px;
  background-color: var(--primaryColor);
  color: #fff;
  font-family: 'NanumSquareEB';
  font-size: 38px;
  line-height: 58px;
}
.service .serviceSummary .imgBox{
  position: relative;
  margin: 45px auto 0;
  width: 462px;
  height: 462px;
}
.service .serviceSummary .imgBox .circle{
  width: 462px;
}
.service .serviceSummary .imgBox .iconBox1{
  position: absolute;
  top: 12.5%;
  left: 20%;
}
.service .serviceSummary .imgBox .iconBox2{
  position: absolute;
  top: 15%;
  right: 12%;
}
.service .serviceSummary .imgBox .iconBox3{
  position: absolute;
  bottom: 15%;
  right: 16%;
}
.service .serviceSummary .imgBox .iconBox4{
  position: absolute;
  bottom: 19%;
  left: 21.5%;
}
.service .serviceSummary .imgBox .iconBox1 img{
  margin-left: 5px;
  width: 38px;
}
.service .serviceSummary .imgBox .iconBox2 img{
  width: 31px;
}
.service .serviceSummary .imgBox .iconBox3 img{
  width: 47px;
}
.service .serviceSummary .imgBox .iconBox4 img{
  width: 41px;
}
.service .serviceSummary .imgBox [class^="iconBox"] p{
  margin-top: 2.5px;
  color: #fff;
  font-family: 'NanumSquareB';
  font-size: 18px;
  line-height: 1.2;
}
.service .serviceSummary .imgBox>p{
  position: absolute;
  top: calc(50% - 26px);
  padding-left: 5px;
  width: 100%;
  font-family: 'NanumSquareEB';
  font-size: 24px;
}
.service .serviceSummary>p{
  margin: 45px auto 0;
  padding: 30px 0;
  width: 645px;
  background-color: #f7f7f7;
  font-family: 'NanumSquareB';
  font-size: 18px;
  line-height: 1.4;
}
.service .serviceExplan{
  height: 550px;
}
.service .serviceExplan ul{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.service .serviceExplan ul li{
  width: 365px;
}
.service .serviceExplan ul li img{
  width: 150px;
}
.service .serviceExplan ul li h4{
  margin-top: 15px;
  color: var(--primaryColor);
  font-family: 'NanumSquareEB';
  font-size: 28px;
}
.service .serviceExplan ul li p{
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.4;
}

/*FAQ*/
.faq{
  height: 345px;
  color: #fff;
  text-align: center;
  background-color: var(--primaryColor);
}
.faq .inner{
  position: relative;
}
.faq .txtBox{
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
}
.faq .txtBox p{
  font-family: 'NanumSquareL';
  font-size: 16px;
  line-height: 1.3;
}
.faq .txtBox h2{
  color: var(--secondaryColor);
  font-size: 26px;
  line-height: 1.4
}
.faq .swiper-container{
  height: 100%;
}
.faq .swiper-container .swiper-wrapper .swiper-slide h3{
  margin-top: 135px;
  font-family: 'NanumSquareB';
  font-size: 32px;
}
.faq .swiper-container .swiper-wrapper .swiper-slide p{
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.4;
}
.faq .swiper-container .swiper-button-next,
.faq .swiper-container .swiper-button-prev{
  color: rgba(255, 255, 255, 0.2);
}
.faq .swiper-container .swiper-button-next:hover,
.faq .swiper-container .swiper-button-prev:hover{
  color: rgba(255, 255, 255, 0.1);
}
.faq .swiper-container .swiper-button-next.swiper-button-disabled,
.faq .swiper-container .swiper-button-prev.swiper-button-disabled{
  opacity: 0;
}
.faq .swiper-container .swiper-pagination{
  bottom: 45px;
}
.faq .swiper-container .swiper-pagination .swiper-pagination-bullet{
  opacity: 1;
  margin: 0 5px;
  background-color: #fff;
}
.faq .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: var(--secondaryColor);;
}

/*CONTACT*/
.contact{
  height: calc(100vh - 80px);
  text-align: center;
}
.contact .txtBox{
  margin-top: 100px;
}
.contact .txtBox p{
  font-size: 20px;
}
.contact .txtBox h2{
  margin-top: 10px;
  color: var(--primaryColor);
  font-size: 44px;
}
.contact .expBox{
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  background-color: #fff;
}
.contact .expBox li{
  padding: 40px 0;
  width: 300px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.1);
}
.contact .expBox li h3{
  font-family: 'NanumSquareB';
  font-size: 20px;
  line-height: 1.3;
}
.contact .expBox li img{
  margin: 20px 0 25px;
  width: 150px;
}
.contact .expBox li .expBtn{
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 50px;
  background-color: var(--primaryColor);
  color: #fff;
  font-family: 'NanumSquareB';
  font-size: 20px;
}
.contact .guide{
  margin: 60px 0 100px;
  color: #aaa;
  font-size: 18px;
}

/* CONTACT POPUP */
.contactPopup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
}
.contactPopup .bg{
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 43, 43, 0.9);
}
.formBox{
  position: absolute;
  top: calc(50vh - 372.5px);
  left: calc(50% - 275px);
  width: 550px;
  height: 750px;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.formBox .titleBox{
  margin-bottom: 50px;
  height: 60px;
  border-bottom: 1px solid #DEE2E6;
  line-height: 60px;
}
.formBox .titleBox h3{
  float: left;
  margin-left: 20px;
  font-family: 'NanumSquareB';
  font-size: 20px;
}
.formBox .titleBox .closeBtn{
  overflow: hidden;
  float: right;
  margin-right: 5px;
  width: 60px;
  height: 60px;
  background-image: url(../images/icon_close.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  font-size: 30px;
  text-indent: -999em;
}
.formBox .txtBox{
  text-align: center;
}
.formBox .txtBox p{
  font-size: 18px;
  line-height: 1.5;
}
.formBox .txtBox p .user_choose{
  font-family: 'NanumSquareB';
}
.formBox form{
  overflow: hidden;
  margin: 50px auto 0;
  width: 85%;
}
.formBox form .accountBox,
.formBox form .telBox{
  width: 100%;
  margin-bottom: 20px;
}
.formBox form .accountBox label,
.formBox form .telBox label,
.formBox form .questionBox label{
  display: block;
  padding-left: 0;
  font-size: 14px;
  line-height: 30px;
}
.formBox form .accountBox label span,
.formBox form .telBox label span{
  color: #FF4040;
}
.formBox form .accountBox input,
.formBox form .telBox input{
  padding: 0 10px;
  width: 100%;
  height: 48px;
  outline: none;
  border: 1px solid #DEE2E6;
  color: #000;
  font-family: 'NanumSquare';
  font-size: 16px;
  line-height: 48px;
}
::-webkit-input-placeholder{
  color: #ccc;
  line-height: 48px;
}
:-moz-placeholder{
  color: #ccc;
  line-height: 48px;
}
::-moz-placeholder{
  color: #ccc;
  line-height: 48px;
}
:-ms-input-placeholder{
  color: #ccc;
  line-height: 48px;
}
.formBox form .questionBox{
  width: 100%;
}
.formBox form .questionBox textarea{
  display: block;
  padding: 15px 10px;
  width: 100%;
  height: 150px;
  white-space: pre-wrap;
  outline: none;
  border: 1px solid #DEE2E6;
  resize: none;
  color: #000;
  font-family: 'NanumSquare';
  font-size: 16px;
  line-height: 1.1;
}
.formBox form .questionBox textarea::-webkit-input-placeholder{
  line-height: 1.1;
}
.formBox form .questionBox textarea:-moz-placeholder{
  line-height: 1.1;
}
.formBox form .questionBox textarea::-moz-placeholder{
  line-height: 1.1;
}
.formBox form .questionBox textarea:-ms-input-placeholder{
  line-height: 1.1;
}
.formBox form .privacyBox{
  display: block;
  float: left;
  margin: 20px 0 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.formBox form .privacyBox label{
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
}
.formBox form .privacyBox label::before{
  content: '';
  display: inline-block;
  float: left;
  margin: 2px 5px 0 0;
  width: 16px;
  height: 16px;
  background-image: url(../images/icon_check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.formBox form .privacyBox label:hover::before{
  background-position: -16px 0;
}
.formBox form .privacyBox label.on::before{
  background-position: -32px 0;
}
.formBox form .privacyBox label.on:hover::before{
  background-position: -48px 0;
}
.formBox form .privacyBox label input{
  display: none;
}
.formBox form .privacyBox label a{
  color: #888;
  text-decoration: underline;
}
.formBox form .btnBox{
  position: relative;
  float: left;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.formBox form .btnBox .inquiryBtn{
  opacity: 0.9;
  width: 100%;
  height: 50px;
  background-color: var(--primaryColor);
  color: #fff;
  font-family: 'NanumSquareB';
  font-size: 20px;
}
.formBox form .btnBox .inquiryBtn:hover{
  opacity: 1;
}
.formBox form .btnBox .inquiryBtn:disabled{
  cursor: no-drop;
  opacity: 1;
  background-color: #999;
}

/*privacyPopup*/
.privacyPopup{
  display: none;
  position: absolute;
  top: calc(50vh - 372.5px);
  left: calc(50% - 275px);
  width: 550px;
  height: 750px;
  border-radius: 5px;
  background-color: #fff;
}
.privacyPopup .titleBox{
  height: 60px;
  border-bottom: 1px solid #DEE2E6;
  line-height: 60px;
}
.privacyPopup .titleBox h3{
  float: left;
  margin-left: 20px;
  font-family: 'NanumSquareB';
  font-size: 20px;
}
.privacyPopup .titleBox .closeBtn{
  overflow: hidden;
  float: right;
  margin-right: 5px;
  width: 60px;
  height: 60px;
  background-image: url(../images/icon_close.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  font-size: 30px;
  text-indent: -999em;
}
.privacyPopup .content{
  padding: 40px;
  height: 690px;
  text-align: center;
}
.privacyPopup .content p{
  overflow-y: scroll;
  height: 610px;
  font-size: 14px;
  text-align: justify;
  line-height: 1.4;
  white-space: normal;
}
.privacyPopup .content p::-webkit-scrollbar{
  display: none;
}

/* 모바일 세팅 */
@media screen and (max-width: 768px){
  /*ALL*/
  article{
    scroll-margin-top: 59px;
  }

  /*VISUAL*/
  .visual{
    height: auto;
    background-image: none;
  }
  .visual .inner{
    position: static;
  }
  .visual .txtBox{
    position: static;
    top: 0;
    margin-top: 50px;
  }
  .visual .txtBox p{
    font-size: 20px;
  }
  .visual .txtBox .quick{
    display: none;
  }
  .visual .imgBox{
    position: static;
    margin-top: 160px;
    height: auto;
  }
  .visual .imgBox img.smartphone{
    position: static;
    margin-left: 10%;
    width: 140%;
  }

  /*INSTA*/
  .insta{
    padding: 50px 0;
    height: auto;
  }
  .insta .txtBox{
    float: none;
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
  .insta .txtBox p:first-child{
    font-size: 22px;
    line-height: 1.3;
  }
  .insta .txtBox p:last-child{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.3;
  }
  .insta .imgBox{
    float: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .insta .imgBox .graph{
    position: absolute;
    top: -155px;
  }

  /*SECRET*/
  .secret{
    height: auto;
    padding: 80px 0;
  }
  .secret .inner{
    margin-top: 0;
  }
  .secret .txtBox{
    margin-bottom: 50px;
  }
  .secret .txtBox p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.3;
  }
  .secret ul{
    display: block;
  }
  .secret ul li{
    margin-bottom: 50px;
  }
  .secret ul li:last-child{
    margin-bottom: 0;
  }
  .secret ul li .number{
    display: none;
  }
  .secret ul li .caption{
    margin-top: 10px;
    font-family: 'NanumSquareB';/*뺄까?*/
    font-size: 16px;
    line-height: 1.3;
  }

  /*SERVICE*/
  .service{
    background-image: url(../images/service_background_mobile.png);
  }
  .service .serviceIntro{
    height: auto;
  }
  .service .serviceIntro .txtBox{
    margin-top: 80px;
  }
  .service .serviceIntro .txtBox p{
    font-size: 16px;
  }
  .service .serviceIntro .txtBox h2{
    letter-spacing: 0;
    line-height: 1.5;
  }
  .service .serviceIntro .imgBox{
    position: static;
    width: 100%;
  }
  .service .serviceIntro .imgBox .phone{
    position: static;
    left: 0;
    top: 30px;
    width: 100%;
  }
  .service .serviceIntro .imgBox .graph1{
    position: static;
    float: right;
    margin-top: -90%;
    margin-right: 17.5%;
    width: 35%;
  }
  .service .serviceIntro .imgBox .graph2{
    position: static;
    float: right;
    margin-top: -77.5%;
    margin-right: 0;
    width: 40%;
  }
  .service .serviceSummary{
    padding: 100px 0;
    height: auto;
  }
  .service .serviceSummary h3,
  .service .serviceExplan h3{
    width: 70%;
    height: 35px;
    border-radius: 17.5px;
    font-size: 20px;
    line-height: 35px;
  }
  .service .serviceSummary .imgBox{
    width: 80%;
    height: 80%;
  }
  .service .serviceSummary .imgBox .circle{
    width: 100%;
  }
  .service .serviceSummary .imgBox .iconBox1{
    width: 25%;
    top: 12.5%;
    left: 15%;
  }
  .service .serviceSummary .imgBox .iconBox2{
    width: 25%;
    top: 15%;
    right: 8%;
  }
  .service .serviceSummary .imgBox .iconBox3{
    width: 25%;
    bottom: 15%;
    right: 15%;
  }
  .service .serviceSummary .imgBox .iconBox4{
    width: 25%;
    bottom: 19%;
    left: 15%;
  }
  .service .serviceSummary .imgBox .iconBox1 img{
    margin-left: 5px;
    width: 35%;
  }
  .service .serviceSummary .imgBox .iconBox2 img{
    margin-right: 5px;
    width: 32.5%;
  }
  .service .serviceSummary .imgBox .iconBox3 img{
    width: 35%;
  }
  .service .serviceSummary .imgBox .iconBox4 img{
    width: 35%;
  }
  .service .serviceSummary .imgBox [class^="iconBox"] p{
    margin: 1px;
    font-size: 12px;
  }
  .service .serviceSummary .imgBox>p{
    top: calc(50% - 17px);
    padding-left: 5px;
    width: 100%;
    font-size: 16px;
  }
  .service .serviceSummary>p{
    display: inline-block;
    margin: 30px auto 0;
    padding: 20px 30px;
    width: auto;
    font-size: 14px;
    line-height: 1.4;
  }
  .service .serviceExplan{
    padding-bottom: 100px;
    height: auto;
  }
  .service .serviceExplan ul{
    display: block;
    margin-top: 50px;
  }
  .service .serviceExplan ul li{
    margin-bottom: 50px;
    width: 100%;
  }
  .service .serviceExplan ul li:last-child{
    margin-bottom: 0;
  }
  .service .serviceExplan ul li img{
    width: 150px;
  }
  .service .serviceExplan ul li h4{
    margin-top: 20px;
    font-size: 20px;
  }
  .service .serviceExplan ul li p{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
  }

  /*FAQ*/
  .faq{
    height: auto;
  }
  .faq .inner{
    position: relative;
    width: 100%;
  }
  .faq .txtBox{
    top: 50px;
  }
  .faq .txtBox p{
    font-size: 16px;
  }
  .faq .txtBox h2{
    font-size: 28px;
  }
  .faq .swiper-container{
    padding-bottom: 95px;
  }
  .faq .swiper-container .swiper-wrapper .swiper-slide h3{
    margin-top: 140px;
    font-size: 20px;
    line-height: 1.3;
  }
  .faq .swiper-container .swiper-wrapper .swiper-slide p{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
  }
  .faq .swiper-container .swiper-button-next,
  .faq .swiper-container .swiper-button-prev{
    display: none;
  }
  .faq .swiper-container .swiper-pagination{
    bottom: 45px;
  }

  /*CONTACT*/
  .contact{
    height: auto;
    padding: 80px 0;
  }
  .contact .txtBox{
    margin-top: 0;
  }
  .contact .txtBox p{
    font-size: 16px;
    line-height: 1.3;
  }
  .contact .txtBox h2{
    margin-top: 0;
    font-size: 28px;
    line-height: 1.5;
  }
  .contact .expBox{
    display: block;
    margin-top: 50px;
  }
  .contact .expBox li{
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 30px 0;
    width: 70%;
  }
  .contact .expBox li h3{
    font-family: 'NanumSquareB';
    font-size: 18px;
    line-height: 1.2;
  }
  .contact .expBox li img{
    width: 120px;
  }
  .contact .expBox li .expBtn{
    width: 80%;
  }
  .contact .guide{
    margin: 0;
    font-size: 14px;
  }

  /* CONTACT POPUP */
  .contactPopup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
  }
  .contactPopup .bg{
    display: none;
  }
  .formBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    box-shadow: none;
  }
  .formBox .titleBox{
    margin-bottom: 80px;
  }
  .formBox form{
    padding-bottom: 80px;
    text-align: left;
  }
  .formBox form .btnBox{
    position: fixed;
    bottom: 0;
    left: 0;
    float: none;
    margin-top: 0;
  }
  .formBox form .btnBox .inquiryBtn{
    opacity: 1;
    height: 60px;
  }

  /*privacyPopup*/
  .privacyPopup{
    top: 20vh;
    left: 7.5%;
    width: 85%;
    height: 60vh;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 25vh rgba(43, 43, 43, 0.9);
  }
  .privacyPopup .titleBox{
    height: 60px;
    border-bottom: 1px solid #DEE2E6;
    line-height: 60px;
  }
  .privacyPopup .content{
    padding: 20px;
    height: calc(60vh - 60px);
  }
  .privacyPopup .content p{
    height: 100%;
    font-size: 12px;
  }
}