.loadingBox{
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}
.loadingBox div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 80px;
}
.loadingBox div.back{
  background-image: url(../images/simbol_mobile.svg);
  background-color: #fff;
}
.loadingBox div.front{
  width: 0;
  background-image: url(../images/simbol.svg);
  background-color: var(--primaryColor);
}